{
  "_comment": "Arquivo de exemplo para configuração de impressoras locais",
  "_warning": "Este arquivo contém configurações específicas de cada loja e NÃO deve ser commitado no repositório",
  "_instructions": "Copie este arquivo para 'printers.json' e configure conforme suas impressoras locais",
    "impressoras": [
    {
      "id": "STOCKFLOW-TESTE-WJYXNI1W1P",
      "nome": "Zebra-Technologies-ZTC-ZD220-203dpi-ZPL",
      "ip": "localhost",
      "porta": 9100,
      "ativo": true,
      "anydesk_id": "1961449260"
    }
  ]
}
